* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}

a {
  color: white;

}

#header_style {
  background: #99CC7D;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

#ul_styles_header> li {
  list-style: none;
  font-weight: bold;
}

#conteudo_do_cadastro_produto {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 1rem;
}

/* #conteudo_do_cadastro_produto>div>button {
  cursor: pointer;
  padding: 1rem;
  border: transparent;
  background-color: #73d140f1;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
  transition: all 0.3s;
}

#conteudo_do_cadastro_produto>div>button:hover {
  background-color: #82bb63;
  transition: all 0.3s;
} */

#conteudo_do_descontos {
  display: flex;
  gap: 0.2rem;
}